.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-height: 4rem;
  padding: 0.5rem;
  border-bottom: 3px solid #eee;
}

.photo {
  img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
    border-bottom: 1px solid blueviolet;
    box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
    display: flex;
    align-items: center;
  }
}

.body {
  flex-grow: 1;
  input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    background-color: #eeedee;
    border: none;
    border-radius: 4px;
  }
}
